extends layout 

block content 
  h1 Actor: #{actor.name}
  p #{actor.lifespan}

  div(style='margin-left:20px;margin-top:20px')

    h4 Movies 
    if actor_movies.length 
      dl 
        each movie in actor_movies 
          dt
            a(href=movie.url) #{movie.title}
          dd #{movie.synopsis}
    else 
      p This actor has no movies.
  hr
  p
    a(href=actor.url+'/delete') Delete actor
  p 
    a(href=actor.url+'/update') Update actor
