extends layout

block content

  h1 Director: #{director.name}
  p #{director.lifespan}

  div(style='margin-left:20px;margin-top:20px')

    h4 Movies
    if director_movies.length
      dl
        each movie in director_movies
          dt
            a(href=movie.url) #{movie.title}
          dd #{movie.synopsis}
    else
      p This director has no movies.

  hr
  p 
    a(href=director.url+'/delete') Delete director
  p 
    a(href=director.url+'/update') Update director