extends layout 
block content 
    h1 #{title}

    p #[strong Do you reall want to delete this movieinstance?]

    div(style="margin-left:20px")
        p #[strong ID]: #{movieinstance._id}
        p #[strong Title: ]
            a(href=movieinstance.movie.url) #{movieinstance.movie.title}
        p #[strong Price: ] #{movieinstance.price}
        p #[strong Status: ]
            if movieinstance.status =='in-stock'
                span.text-success #{movieinstance.status}
            else if movieinstance.status =='in-cart'
                span.text-warning #{movieinstance.status}
            else if movieinstance.status =='sold'
                span.text-danger #{movieinstance.status}
            else
                span.text-secondary #{movieinstance.status}
    form(method='POST')
        div.form-group
            input#id.form-control(type='hidden',name='id',value=movieinstance._id)
            button.btn.btn-primary(type='submit') Delete